<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% seo %}

        {% include styles.html %}

        <title>{{ page.title }} | {{ site.name }}</title>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131184645-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-131184645-1');
        </script>
        <!-- Google Adsense -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-6154051064881681",
                enable_page_level_ads: true
            });
        </script>
    </head>

    <body class="{{ page.bodyClass }}">
        <!-- start of header -->
        <header class="header mb-auto">
            {% include navigation.html %}
        </header>
        <!-- end of header -->

        <!-- start of main -->
        <main class="main" role="main">