<nav class="navbar navbar-expand-lg mb-0{% if page.url != '/' %} bg-black{% endif %}">
    <a href="/" class="navbar-brand d-none d-md-inline-block">Mohammed Shifreen</a>
    <a href="/" class="navbar-brand d-md-none">MS</a>

    {% if page.url == '/about-me/' %}
        <img src="{{ '/assets/img/me.jpg' | relative_url }}" alt="Mohammed Shifreen" class="d-md-none rounded-circle ml-auto mr-3" width="40" height="40">
    {% endif %}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item{% if page.url == '/about-me/' %} active{% endif %}">
                <a class="nav-link" href="/about-me/">About Me</a>
            </li>
            <li class="nav-item{% if page.url == '/projects/' %} active{% endif %}">
                <a class="nav-link" href="/projects/">Projects</a>
            </li>
            <li class="nav-item{% if page.url == '/blog/' %} active{% endif %}">
                <a class="nav-link" href="/blog/">Blog</a>
            </li>
        </ul>

        {% include social_links.html %}
    </div>
</nav>