<ul class="navbar-nav navbar-nav-icons">
    <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/mshifreen/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://github.com/Shifrin" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://stackoverflow.com/users/1933627/shifrin" target="_blank">
            <i class="fab fa-stack-overflow"></i>
        </a>
    </li>
</ul>