/* Created by Mohammed Shifreen <mshifreen@gmail.com> */

/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400');

html,
body {
    height: 100%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    margin-bottom: .75rem;
}
.btn-outline-dark {
    text-transform: uppercase;
    border-width: 2px;
}
.btn-outline-dark.btn-lg {
    padding: .75rem 1.5rem;
    font-size: 1rem;
}
img.me {
    border: 5px solid rgba(255, 255, 255, 0.25);
}
.alert {
    border-left-width: 5px;
}
.alert-primary {
    background-image: url("../img/info-sign.png");
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    border-left-color: #004085;
    padding: 1.5rem 1.25rem 1.5rem 4.5rem;
}

/* Front Page */
.front-page {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
}
.cover {
    position: fixed;
    visibility: visible;
    transform: translate3d(0px, 0px, 0px);
    z-index: -100;
    top: 0;
    left: 0;
    overflow: hidden;
}
.cover-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #343a40;
    opacity: .6;
}

/* Header */
.header {
    background-color: #343a40;
}
.front-page .header {
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.navbar-brand {
    color: #fff;
    padding: .5rem;
    border: 3px solid #fff;
    text-transform: uppercase;
    box-shadow: inset 0.15rem 0.15rem 1.25rem 0.15rem rgba(255, 255, 255, 0.35);
}
.navbar-brand:hover {
    color: #fff;
    opacity: .8;
}
.nav-link {
    color: #fff;
}
.nav-item.active .nav-link,
.nav-link:hover,
.nav-link:focus {
    color: #fff;
    opacity: .6;
}
.navbar-toggler {
    border-width: 0;
}
.navbar-toggler:focus {
    outline-color: transparent;
}
.navbar-toggler > i:before {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #fff;
}
@media (min-width: 992px) {
    .header {
        padding: .5rem 2rem;
    }
}
@media (max-width: 767.98px) {
    .navbar {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .navbar-nav-icons {
        flex-direction: row;
        width: 50%;
        margin: 0 auto;
    }
    .navbar-nav-icons > li {
        margin: 0 auto;
    }
}

/* Introduction */
.intro {
    color: #fff;
}
.ms-intro {
    margin-top: 6rem;
}
.ms-intro-text {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
.ms-intro-links a.btn {
    color: #fff;
    border-color: #fff;
    border-radius: 0;
    border-width: 2px;
    font-size: .8rem;
    text-transform: uppercase;
    padding: .75rem 1rem;
}
.ms-intro-links a.btn:hover,
.ms-intro-links a.btn:focus {
    color: #000;
    background-color: #fff;
    box-shadow: none;
}
@media (min-width: 992px) {
    .ms-intro-text {
        width: 80%;
    }
    .ms-intro-links {
        width: 15%;
    }
}

/* Page */
.page-header {
    position: relative;
    width: 100%;
    height: 75vh;
    background-color: #343a40;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    color: rgba(255, 255, 255, 0.5);
}
.page-header:before,
.page-header:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #343a40;
}
.page-title {
    position: relative;
    padding-bottom: 5rem;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    z-index: 5;
}
.page-title p.lead {
    font-size: 2.5rem;
}
.page-content {
    margin: 3rem 0;
    font-size: 1.2rem;
}

/* Sections of Page Content */
.page-content .summary p.primary {
    font-weight: 500;
}
.page-content section:not(.no-separator):after {
    content: '';
    display: block;
    height: 1px;
    width: 200px;
    margin: 4rem auto;
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;
}
@media (min-width: 992px) {
    .page-content .summary {
        max-width: 60%;
        margin: 0 auto;
    }
}

/* Card Columns Responsive */
.card-columns .card {
    border: none;
    border-radius: 0;
}
.card-columns .card .card-body {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-columns .card img + .card-body {
    border: 1px solid rgba(0,0,0,.125);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.card-columns > .card > a {
    color: inherit;
}
.card-columns > .card > a:hover,
.card-columns > .card > a:focus {
    text-decoration: none;
}
.card-columns > .card > a > img + .card-body {
    background-color: #fff;
    transform: translate3d(0, 0, 0);
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .33s;
    -o-transition-duration: .33s;
    transition-duration: .33s;
    -webkit-transition-timing-function: cubic-bezier(0.08, 0.82, 0.165, 1);
    -o-transition-timing-function: cubic-bezier(0.08, 0.82, 0.165, 1);
    transition-timing-function: cubic-bezier(0.08, 0.82, 0.165, 1);
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.card-columns > .card > a:hover > img + .card-body {
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
}
@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/* Blog Posts */
.blog-posts > article.post:not(:last-child):after {
    content: '';
    display: block;
    height: 1px;
    width: 200px;
    margin: 3rem auto;
    background-color: rgba(0, 0, 0, 0.15);
}
.read-more {
    text-transform: uppercase;
    border-width: 2px;
}

/* Footer */
.site-info {
    padding-top: 2rem;
    border-top: 4px solid #343a40;
}