---
layout: default
title: Blog
description: The blog page that is listing all the blog posts with pagination links.
bodyClass: blog-page
---

<div class="page-header d-flex flex-column" style="background-image: url('{{ "/assets/img/blog-bg.jpg" | relative_url }}')">
    <div class="page-title mt-auto">
        <div class="container text-white">
            <h1 class="display-3">Blog</h1>
            <p class="lead mb-0">I write some posts based on my experience and research.</p>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <section class="blog-posts no-separator">
                    {% for post in paginator.posts %}
                        <article class="post">
                            <header class="post-header">
                                <h2 class="post-title">
                                    <a href="{{ post.url }}" class="text-dark">{{ post.title }}</a>
                                </h2>
                            </header>

                            <div class="post-info text-muted mb-3">
                                <span class="date">
                                    <i class="far fa-calendar"></i> {{ post.date | date: '%B %d, %Y' }}
                                </span>
                                <span class="category ml-3">
                                    <i class="far fa-folder"></i> {{ post.categories }}
                                </span>
                                {% if post.tags.size > 0 %}
                                <span class="tags ml-3">
                                    <i class="far fa-bookmark"></i> {% for tag in post.tags %} <span class="mr-1">#{{ tag }}</span> {% endfor %}
                                </span>
                                {% endif %}
                            </div>

                            <div class="post-summary mb-3">
                                {{ post.excerpt }}
                            </div>

                            <footer class="post-footer text-right">
                                <a href="{{ post.url }}" class="btn btn-outline-secondary read-more">
                                    Read More <i class="fas fa-angle-double-right"></i>
                                </a>
                            </footer>
                        </article>
                    {% endfor %}
                </section>

                <!-- Pagination links -->
                {% if paginator.total_pages > 1 %}
                <hr class="mt-5">

                <div class="paginate-links text-right">
                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="btn btn-outline-dark">
                        <i class="fas fa-chevron-circle-left"></i> Older Posts
                    </a>
                    {% endif %}
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="btn btn-outline-dark">
                        Newer Posts <i class="fas fa-chevron-circle-right"></i>
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>