---
layout: default
bodyClass: post-page
---

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <section class="blog-post no-separator">
                <article class="post">
                    <header class="post-header">
                        <h2 class="post-title">{{ page.title }}</h2>
                    </header>

                    <div class="post-info text-muted mb-3">
                        <span class="date">
                            <i class="far fa-calendar"></i> {{ page.date | date: '%B %d, %Y' }}
                        </span>
                        {% if page.tags %}
                            <span class="category ml-3">
                                <i class="far fa-bookmark"></i> {% for tag in page.tags %} # {{ tag }} {% endfor %}
                            </span>
                        {% endif %}
                    </div>

                    <div class="post-summary mb-3">
                        {{ content }}
                    </div>
                </article>
            </section>
        </div>
    </div>
</div>